In [9]:
## Lambda Functions in python
## São peuqenas funções anonimas, podendo ter vários argumentos, mas apenas uma expressão

## Syntax
functionTeste = lambda arg: print(arg)
functionTeste('Teste')

Teste

## Map
-> Aplica a função a todos os itens na lista
-> Map(Callback(), itens)
-> retorna um mapObject

In [13]:
## map(callback, iterables)
## Exemplo usando lambda functions
numbers = [1, 2, 3, 4, 5, 6]
list(
    map( ## Função MAP nativa do Python, Primeiro argumento é um callback - ação que será realizada, segundo argumento é a lista de itens que será usada na função
        lambda x:x**2, ## Função lambda, pega o X de numbers e eleva a 2
        numbers
        )
    )

[1, 4, 9, 16, 25, 36]

In [17]:
## Multiplos iterables
numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(
    map( lambda x,y: x+y, ## Para passar mais de uma lista, deve-se ter dois ou mais argumentos na função callback
        numbers1,
        numbers2))
print(added_numbers)

[5, 7, 9]

In [20]:
## Map to convert a list of strings to integers
str_numbers=['1', '2', '3', '4', '5']
int_numbers=list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

## Filter functions
-> Iteraor passa por todos os itens de um iterável, do qual retorna apenas os itens que passam na condição passada - Um map com filtros

In [ ]:
def even(num):
    if num%2==0:
        return True

even(34)

True

In [42]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]

list(filter(even, lst)) ## Retorna o valor quando for True
## list(map(even, lst)) Retorna o resultado da função (True/False)

[2, 4, 6, 8, 10, 12]

In [44]:
## Usando função lambda
numbers=[1,2,3,4,5,6,7,8,9]
greater_than_five=list(
    filter(
        lambda x:x>5,
        numbers
    ))

print(greater_than_five)

[6, 7, 8, 9]

In [46]:
## Multiplas condições
numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five=list(
    filter(
        lambda x:x>5 and x%2==0,
        numbers
    )
)

print(even_and_greater_than_five)

[6, 8]

In [49]:
## Using dictionaries
people=[
    {'name': 'Lucas', 'age':32},
    {'name': 'Bia', 'age':5},
    {'name': 'Leo', 'age':34}
]

def age_greater_than_25(person):
    return person['age']>25

list(filter(
    age_greater_than_25,
    people
))

[{'name': 'Lucas', 'age': 32}, {'name': 'Leo', 'age': 34}]